/* Fonte Roboto do google para as letras. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/** Estilização da biblioteca Layer.JS adaptada para nossas necessidades, botões, caixa de slide, etc **/

html {
    height: 100%;
}
body {
    height:100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
[lj-type="stage"] {
    top: 50px!important;
    width: 100%;
    height: calc(100% - 50px);
    margin: auto;
    overflow-y: scroll;
}
.btn-left {
    float: right;
}
#arrows {
    width: 100%;
}
#arrows>div {
    width: 100%;
    height: 50px;
}
.btn-right {
    float: right;
}
.btn {
    margin: 5px;
    background-color: #2972C9;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color:#E6E6E6;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    pointer-events: all;
    height: 20px;
    line-height: 20px;
    text-align: center;
    user-select: none;
}
.btn:active {
    box-shadow: 0 0 0 3px #363636;
}

/** Content é uma div presente em cada slide, essa div tem como objetivo preencher todo o espaço da tela do usuário para exibir
o conteúdo desejado, por isso sempre crie seu conteúdo em html dentro da div #content, o id 
#nav é o espaço destinado para estilização do nosso menu de navegação **/


#content{
    background-color: white;
    width: 100vw;

}
div#nav{
    background-color: transparent;
    display: flex;
    height: 50px!important;
    width: 99%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*pode ser transparent também*/
}
a{
    text-decoration: none;
    width: 100%;
}
#home{
    background-color: #056FE0;
}
#empresa{
    background-color: #42C583;
}
#vision{
    background-color: #C8782C;
}
#soluciones{
    background-color: #AD1B59;
}

#home, #empresa, #vision, #soluciones{
    width: 100%;
    text-align: center;
    color: white;
    font: 600 12px 'Roboto';
    line-height: 46px;
    border-radius: 0px;
    margin: 2px;
    user-select: none;
}

a{
    text-decoration: none;
    width: 100%;

}
#home:hover, #empresa:hover, #vision:hover, #soluciones:hover{
    box-shadow: inset 0em 0em 0em 2px white;
    cursor: pointer;
}


/** Estilização separada destinada ao frame 1 do slide!**/

#empresa_01{
    background-color: #D5E8FF;
    width: 100vw;
    min-height: 100vh;

}
#empresa_01_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    padding: 25px 0 10px 0px;
    color: #056FE0;
}
#empresa_01_hr{
    display: block;
    margin: auto;
    width: 75%;
}

#empresa_01_grid_1col{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}
#empresa_01_text{
    font: 400 18px 'Roboto';
    line-height: 1.8;
    margin: auto;
    text-align: justify;
}
#empresa_01_img img{
    width: 100%;
    height: auto;
}




/** Estilização separada destinada ao frame 2 do slide!**/
#empresa_02{
    background-color: #D5F8FB;
    width: 100vw;
    min-height: 100vh;
}
#empresa_02_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    padding: 25px 0px 10px 0;
    color: #056FE0;
}
#empresa_02_hr{
    display: block;
    margin: auto;
    width: 75%;
}
#empresa_02_grid_1col{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
}
#empresa_02_text{
    font: 400 18px 'Roboto';
    text-align: justify;
    line-height: 1.8;
    width: 80%;
    margin: auto;
}
#empresa_02_img img{
    width: 95%;
    height: auto;
}

/** Estilização separada destinada ao frame 3 do slide!**/

#empresa_03{
    background-color: #FFE8DA;
    width: 100vw;
    min-height: 100vh;
}
#empresa_03_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#empresa_03_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#empresa_03_text{
    font: 400 18px 'Roboto';
    text-align: justify;
    line-height: 1.8;
    width: 80%;
    margin: auto;
}
#empresa_03_industries{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr 1fr;
}
#empresa_03_industries img{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}
#empresa_03_industries p{
    margin: 15px auto 15px auto;
    text-align: center;
    font: 500 16px 'Roboto';
    width: 80%;
}



/** Estilização separada destinada ao frame 4 do slide!**/


#empresa_04{
    background-color: #D4EEFA;
    width: 100vw;
    min-height: 100vh;

}
#empresa_04_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#empresa_04_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#empresa_04_text{
    margin: 30px auto auto auto;
    width: 80%;
    font: 400 18px'Roboto';
    line-height: 1.8;
    text-align: justify;
}
#empresa_04_img img{
    width: 100%;
    height: auto;
    padding-top: 20px;
}


/** Estilização separada destinada ao frame 5 do slide!**/


#empresa_05{
    background-color: #D5F8FB;
    width: 100vw;
    min-height: 100vh;


}
#empresa_05_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#empresa_05_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#empresa_05_text{
    margin: 30px auto auto auto;
    width: 80%;
    font: 400 18px 'Roboto';
    line-height: 1.8;
    text-align: left;
}
#empresa_05_img img{
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}


/** Estilização separada destinada ao frame 6 do slide!**/


#empresa_06{
    background-color: #D5E8FF;
    width: 100vw;
    min-height: 100vh;
}
#empresa_06_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#empresa_06_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#empresa_06_text{
    margin: 30px auto auto auto;
    width: 80%;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
#empresa_06_text img{
    width: 100%;
    height: auto;
}

/** Estilização separada destinada ao frame 7 do slide!**/


#vision_07{
    background-color: #D5F8FB;
    width: 100vw;
    min-height: 100vh;
}
#vision_07_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    padding: 25px 0px 10px 0px;
    color: #056FE0;
}
#vision_07_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#vision_07_grid_2col{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
#vision_07_text1{
    border-style: solid;
    border-width: 3px;
    color: white;
}
#vision_07_text2{
    border-style: solid;
    border-width: 3px;
    color: white;
}
#vision_07_text1 li, #vision_07_text2 li{
    list-style: none;
    line-height: 2;
    color: black;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
#vision_07_text1 h1, #vision_07_text2 h1{
    font: 600 24px 'Roboto';
    padding: 15px 0px 15px 0px;
    color: white;
}
#vision_07_text1 h1{
    background-color: #0BD7A4;
}
#vision_07_text2 h1{
    background-color: #FF9900;
}


/** Estilização separada destinada ao frame 8 do slide!**/


#vision_08{
    background-color: #FCECE2;
    width: 100vw;
    min-height: 100vh;
}
#vision_08_title{
    margin: auto;
    width: 95%;
    padding: 25px 0px 10px 0px;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;


}
#vision_08_hr hr{
    width: 75%;
    border-color: #C9F0F9;
    margin-bottom: 30px;
}
#vision_08_grid_2cols{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr;
}
#vision_08_text{
    width: 100%;
}
#vision_08_text #box{
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin: auto auto auto auto;
    width: 90%;
}
#vision_08_text #box h1{
    font: 600 20px 'Roboto';
    color: #D01413;
}
#vision_08_text #box p{
    font: 400 16px 'Roboto';
    line-height: 1.5;
}
#vision_08_text #box li{
    list-style: none;
    font: 600 16px 'Roboto';
    line-height: 2;
}
#vision_08_text #box li::before{
    content:url('../images/ok.png');
}
#vision_08_text #box_sinais_matematicos{
    width: 100%;
    text-align: center;
    font: 600 60px 'Roboto';
    line-height: 1;
    color: #363636;
}
#vision_08 img{
    margin: 50px auto 50px auto;
    width: 100%;
    height: auto;
}


/** Estilização separada destinada ao frame 9 do slide!**/


#vision_09{
    background-color: #FFFFFF;
    width: 100vw;
    min-height: 100vh;
}
#vision_09_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding-top: 25px;
    padding-bottom: 10px;
}
#vision_09_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#vision_09_puzzle{
    width: 100%;
    line-height: 0;
}
#vision_09_puzzle img{
    width: 100%;
    height: auto;
}
#vision_09 #overlay_move{
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 9999;
}
#vision_09 #overlay-link{
    width: 100%;
    height: 35vw;
    cursor: pointer;
    background-color: transparent;
    margin: 0.5px 0px 0px 0px;
}
#vision_09_sub_title{
    padding: 5px;
    font: 600 16px 'Roboto';
    color: #e68a00;
    text-align: center;
}


/** Estilização separada destinada ao frame 10 do slide!**/


#vision_10{
    margin: auto;
    background-color: #E7FAFD;
    width: 100vw;
    min-height: 100vh;
}
#vision_10_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#vision_10_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#vision_10_grid_2cols{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    width: 80%;
    align-items: center;
}

#vision_10_text{
    font: 400 18px 'Roboto';
    color: black;
    text-align: justify;
    line-height: 1.8;
}
#vision_10_img img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}


/** Estilização separada destinada ao frame 11 do slide!**/


#vision_11{
    background-color: #D5E8FF;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 100px;
}
#vision_11_title{
    width: 95%;
    margin: auto;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#vision_11_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#vision_11_image{
    width: 80%;
    display: block;
    margin: 40px auto;
}
#vision_11_image img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
#vision_11_grid_2cols{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    text-align: center;
    width: 90%;
}
#vision_11_text1{
    border: solid;
    border-color: #f3f8ff;
    border-width: 4px;
    border-radius: 12px;
    height: 100%;
    margin-bottom: 20px;

}

#vision_11_text1 h1{
    text-align: center;
    background-color: rgba(245, 245, 245, 0.85);
    margin: 0;
    padding: 16px;
    margin-bottom: 15px;
    font: 600 22px 'Roboto';
    color: #1D67B0;
}
#vision_11_text1 li{
    width: 95%;
    text-align: left;
    margin: auto 10px;
    font: 500 14px 'Roboto';
    list-style: none;
    line-height: 2;
}
#vision_11_text1 li:before{
    content:url('../images/ok.png');
}

#vision_11_text2{
    border: solid;
    border-color: #f3f8ff;
    border-width: 4px;
    height: 100%;
    border-radius: 12px;
    margin-top: 20px;
}

#vision_11_text2 h1{
    text-align: center;
    background-color: rgba(245, 245, 245, 0.85);
    margin: 0;
    padding: 15px;
    margin-bottom: 15px;
    font: 600 23px 'Roboto';
    color: #EA480F;
}
#vision_11_text2 li{
    text-align: left;
    width: 95%;
    margin: auto 10px;
    font: 500 14px 'Roboto';
    list-style: none;
    line-height: 2;
}
#vision_11_text2 li:before{
    content:url('../images/not_ok.png');
}

/** Estilização separada destinada ao frame 12 do slide!**/


#vision_12{
    background-color: rgb(255, 253, 253);
    width: 100vw;
    min-height: 100vh;
}
#vision_12_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#vision_12_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}
#vision_12_grid_2cols{
    display: grid;
    margin: 20px auto 0 auto;
    width: 100%;
    grid-template-columns: 1fr;
}
#vision_12_text{
    width: 85%;
    display: block;
    margin: auto;
    font: 400 18px 'Roboto';
    color: black;
    text-align: justify;
    line-height: 1.5;
}
#vision_12_img{
    display: flex;

    width: 100%;
}
#vision_12_img img{
    display: block;
    margin: auto auto 20px auto;
    width: 100%;
    height: auto;
}


/** Estilização separada destinada ao frame 13 do slide!**/


#vision_13{
    background-color: #D5E8FF;
    width: 100vw;
    min-height: 100vh;
}
#vision_13_title{
    margin: auto;
    width: 95%;
    text-align: center;
    font: 600 28px 'Roboto';
    color: #056FE0;
    padding: 25px 0px 10px 0px;
}
#vision_13_hr hr{
    width: 75%;
    border-color: #C9F0F9;
}

#vision_13_benefits{
    display: block;
    margin: auto;
    width: 95%;
}
#vision_13_benefits #box{
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    background-color: #F2F8FF;
    border-radius: 20px;
    margin: 40px auto auto auto;
}
#vision_13_benefits #box #img{
    height: 280px;
}
#vision_13_benefits #box #img img{
    height: 100%;
}
#vision_13_benefits #box #text{
    margin: auto;
    width: 90%;
}
#vision_13_benefits #box #text h1{
    font: 800 15px 'Roboto';
    color: #363636;
    line-height: 1.5;
}
#vision_13_benefits #box #text p{
    font: 500 12px 'Roboto';
    color: #363636;
    line-height: 1.5;
}
/** Configuração especial para esse tipo de tela, especificamente do celular pequeno, o texto ultrapassava a div **/
@media screen and (max-width:370px){
    #vision_13_benefits #box #text h1{
        font: 800 13px 'Roboto';
        color: #363636;
        line-height: 1.5;
    }
    #vision_13_benefits #box #text p{
        font: 500 11px 'Roboto';
        color: #363636;
        line-height: 1.5;
    }
}

/** Estilização separada destinada ao frame 14 do slide!**/


#soluciones_14{
    background-color: #D5E8FF;
    width: 100vw;
    min-height: 185vh;
    background-image: url('../images/nova-capa-2022.jpg');
    background-size: 600%;
}
/** Configuração especial para esse tipo de tela, especificamente do tablet, o background não preenchia o fundo **/
@media screen and (min-width:530px){
    #soluciones_14{
        min-height: 200vh;
    }
}

/** Estilização separada destinada ao frame 15 do slide!**/
#final_15{
    background-color: #FFFFFF;
    width: 100vw;
    min-height: 100vh;
}
#final_15 img{
    width: 80%;
    height: auto;
    display: block;
    margin: 25vh auto 0px auto;
    align-items: center;
}
#final_15 #contacts{
    text-align: center;
    font: 500 16px 'Roboto';
}
#final_15 #footer{
    background-color: whitesmoke;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    
}
#final_15 #footer p{
    margin: auto;
    text-align: justify;
    width: 90%;
    border: 1px 0px 0px 0px;
    margin: 20px auto 20px auto;
    font: 400 11px 'Roboto';
    color: #363636;
}

/** Atenção, para criar novos frames(slides), por favor tente seguir o padrão dos demais, conteúdo sempre dentro da div id #content, crie divs especificas para cada frame, não tente reaproveitar
estilização, pois isso dificulta manutenções no futuro...**/

